[Unit]
Description=Initialize TPS2388 PoE Controller
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/tps2388-init

[Install]
WantedBy=network.target
